.pb3-m {
    background-color: white;
}

.logo {
    text-align: left;
}


a.black:link
{
    color: black;
}

a.black:visited
{
    color: black;
}

a.black:hover
{
    color: black;
}

a.black:active
{
    color: black;
}

a:link
{
    color: yellow;
}

a:visited
{
    color: yellow;
}

a:hover
{
    color: yellow;
}

a:active
{
    color: yellow;
}

.mailto {
    padding-left: 18%;
}

h1 {
    font-size: 48pt;
    text-align: left;
    color: white;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    text-align: left;
    font-size: 18pt;
    color: white;
}

.bg-near-white {
    background-color: white;
}

.cover {
    background-color: white;
    padding-left: 10rem;
}

img {
    padding-left: 20%;
}

.measure-wide {
    max-width: 40em;
}

.pb7 {
    padding-top: 10rem;
    background-color: #003648;
    padding-bottom: 5rem;
}

.pa3 {
    min-height: 4em;
    background-color: #ff8183;
}
