.pb3-m {
    background-color: white;
}

.logo {
    text-align: left;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
}

.measure-wide {
    max-width: 40em;
}
